.preview_card {
	display: inline-block;
	vertical-align: top;
	padding: 20px 30px;
	cursor: pointer;
	width: 33.3%;
	//max-width: 240px;
	overflow: hidden;
	border: 1px #fff solid;



	&__name {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__image {
		width: 100%;
		margin-bottom: 10px;
	}
}

.preview_card__smaller {
	width: 100%;
	padding: 10px;
	border: 1px #fff solid;
}

.preview_card:hover, .preview_card__smaller:hover {
	border: 1px #eee solid;
}