.preview_card {
	display: inline-block;
	vertical-align: top;
	padding: 20px 30px;
	cursor: pointer;
	width: 33.3%;
	min-width: 300px;
	//max-width: 240px;
	overflow: hidden;
	border: 1px #fff solid;
	font-size: 12px;



	&__name {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__image-cont {
		width: 100%;
		text-align: center;
	}
	&__image {
		max-width: 100%;
		max-height: 20vh;
		margin-bottom: 10px;
	}
}

.preview_card__smaller {
	width: 100%;
	padding: 10px;
	border: 1px #fff solid;
	min-width: auto;
}

.preview_card:hover, .preview_card__smaller:hover {
	border: 1px #eee solid;
}