.preview_card {
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px;
	cursor: pointer;
	width: 25%;
	//min-width: 300px;
	overflow: hidden;
	border: 1px #fff solid;
	font-size: 12px;
	min-height: 150px;

	&__name {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__image-cont {
		width: 100%;
		text-align: center;
	}
	&__image {
		max-width: 100%;
		max-height: 200px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.preview_card {
		width: 33.3%;
		min-width: auto;

		&__name {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 800px) {
	.preview_card {
		width: 50%;
		min-width: auto;
	}
}

@media screen and (max-width: 500px) {
	.preview_card {
		width: 100%;
		min-width: auto;
	}
}

.preview_card__smaller {
	width: 100%;
	padding: 10px;
	border: 1px #fff solid;
	min-width: auto;
}

.preview_card:hover,
.preview_card__smaller:hover {
	border: 1px #eee solid;
}
