* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.panel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 71px;
    border: 1px black solid;
    overflow: hidden;
    padding:10px;
    margin:0px;
}
.main{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 300px;
    height: 460px;
    border: 1px black solid;
    overflow: auto;
    padding:10px;
    margin:0px;
}

.preview {
    position: absolute;
    top: 0px;
    left: 299px;
    width: 400px;
    height: 530px;
    border: 1px black solid;
    overflow: hidden;
    padding:0px;
    margin:0px;
}

.listitem {
    font-family: Arial;
    font-size: 12px;
    max-width: 300px;
    cursor: pointer;
}

.hoverListItem {
    background-color: #eeeeee;
}

.activeListItem {
    background-color: #dddddd;
}

.imgpr{
    padding:10px 10px 0px 10px;
    margin:0px;
}

.srchtext{
    border: 1px black solid;
    width: 245px;
    font-family: Arial;
    font-size: 16px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.shown {
    font-family: Arial;
    font-size: 12px;
    padding-top: 10px;
}